In [1]:
import numpy as np

In [2]:
population = np.random.randint(0, 80, 10000)

In [3]:
population[0:10]

array([15, 33, 41, 19,  4, 66,  3, 32, 28, 61])

In [5]:
np.random.seed(115)
sample = np.random.choice(a=population, size=100)
sample[0:10]

array([65, 60, 71, 42, 33, 74, 24, 65, 77, 75])

In [6]:
sample.mean()

41.97

In [7]:
population.mean()

39.3725

In [8]:
np.random.seed(10)
sample1 = np.random.choice(a=population, size=100)
sample2 = np.random.choice(a=population, size=100)
sample3 = np.random.choice(a=population, size=100)
sample4 = np.random.choice(a=population, size=100)
sample5 = np.random.choice(a=population, size=100)
sample6 = np.random.choice(a=population, size=100)
sample7 = np.random.choice(a=population, size=100)
sample8 = np.random.choice(a=population, size=100)
sample9 = np.random.choice(a=population, size=100)
sample10 = np.random.choice(a=population, size=100)

In [9]:
(sample1.mean() + sample2.mean() + sample3.mean() + 
sample4.mean() + sample5.mean() + sample6.mean() + 
sample7.mean() + sample8.mean() + sample9.mean() +
sample10.mean()) / 10

39.738

##### Kovaryans: İki değişken arasındaki ilişkinin değişkenlik ölçüsüdür.
##### cov(X,Y) = E[(X-E[X])(Y-E[Y])]

##### Korelasyon: İki değişken arasındaki ilişkiyi, ilişkinin anlamlı olup olmadığını, ilişkinin şiddetini ve yönünü ifade eden  istatistiksel bir tekniktir.

In [13]:
import seaborn as sns
tips = sns.load_dataset("tips")
df = tips.copy()
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [14]:
df.describe().T

            count       mean       std   min      25%     50%      75%    max
total_bill  244.0  19.785943  8.902412  3.07  13.3475  17.795  24.1275  50.81
tip         244.0   2.998279  1.383638  1.00   2.0000   2.900   3.5625  10.00
size        244.0   2.569672  0.951100  1.00   2.0000   2.000   3.0000   6.00

In [15]:
!pip install researchpy
import researchpy as rp

Collecting researchpy
  Downloading researchpy-0.3.5-py3-none-any.whl (33 kB)
Requirement already satisfied: statsmodels in c:\users\yunus emre\appdata\local\programs\python\python310\lib\site-packages (from researchpy) (0.13.5)
Requirement already satisfied: patsy in c:\users\yunus emre\appdata\local\programs\python\python310\lib\site-packages (from researchpy) (0.5.3)
Requirement already satisfied: scipy in c:\users\yunus emre\appdata\local\programs\python\python310\lib\site-packages (from researchpy) (1.9.3)
Requirement already satisfied: pandas in c:\users\yunus emre\appdata\local\programs\python\python310\lib\site-packages (from researchpy) (1.5.1)
Requirement already satisfied: numpy in c:\users\yunus emre\appdata\local\programs\python\python310\lib\site-packages (from researchpy) (1.23.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\yunus emre\appdata\local\programs\python\python310\lib\site-packages (from pandas->researchpy) (2022.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\yunus emre\appdata\local\programs\python\python310\lib\site-packages (from pandas->researchpy) (2.8.2)
Requirement already satisfied: six in c:\users\yunus emre\appdata\local\programs\python\python310\lib\site-packages (from patsy->researchpy) (1.16.0)
Requirement already satisfied: packaging>=21.3 in c:\users\yunus emre\appdata\local\programs\python\python310\lib\site-packages (from statsmodels->researchpy) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\yunus emre\appdata\local\programs\python\python310\lib\site-packages (from packaging>=21.3->statsmodels->researchpy) (3.0.9)
Installing collected packages: researchpy
Successfully installed researchpy-0.3.5

In [17]:
import warnings
warnings.filterwarnings('ignore')
rp.summary_cont(df[["total_bill", "tip", "size"]])

     Variable      N     Mean      SD      SE  95% Conf.  Interval
0  total_bill  244.0  19.7859  8.9024  0.5699    18.6633   20.9086
1         tip  244.0   2.9983  1.3836  0.0886     2.8238    3.1728
2        size  244.0   2.5697  0.9511  0.0609     2.4497    2.6896

In [19]:
rp.summary_cat(df[["sex", "smoker", "day"]])

  Variable Outcome  Count  Percent
0      sex    Male    157    64.34
1           Female     87    35.66
2   smoker      No    151    61.89
3              Yes     93    38.11
4      day     Sat     87    35.66
5              Sun     76    31.15
6             Thur     62    25.41
7              Fri     19     7.79

In [20]:
df[["tip", "total_bill"]].cov()

                 tip  total_bill
tip         1.914455    8.323502
total_bill  8.323502   79.252939

In [21]:
df[["tip", "total_bill"]].corr()

                 tip  total_bill
tip         1.000000    0.675734
total_bill  0.675734    1.000000

##### Güven Aralığı: Anakütle parametresinin tahmini değerini kapsayabilecek iki sayıdan oluşan bir aralık bulunmasıdır.

### Problem

###### CEO fiyat belirleme konusunda bilimsel bir dayanak ve esneklik istiyor

### Detaylar

###### Satıcı, alıcı ve bir ürün var

###### Alıcılara, ürüne ne kadar ücret ödeyecekleri soruluyor

###### Optimum fiyat, bilimsel ve esnek olarak bulunmak isteniyor

In [24]:
prices = np.random.randint(10, 110, 1000)

In [25]:
prices.mean()

58.492

In [26]:
import statsmodels.stats.api as sms

In [27]:
sms.DescrStatsW(prices).tconfint_mean()

(56.67953887736034, 60.30446112263965)